<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title Project
  link(rel="stylesheet", href="css/styles.css")
body
  
  .log-in
    .container
      h2 Subscribe to our newsletter!
      form(action="#" method="post")
        textfield
          input(type="text" id="user-name" name="user-name" placeholder="Username")
          input(type="mail" id="email-name" name="email-name" placeholder="Email")
        textfield
          input(type="password" id="password-name" name="password-name" placeholder="Password")
          input(type="submit" id="submit" name="submit")






  footer
  script(src="//code.jquery.com/jquery-1.11.3.min.js")
  script(src="js/app.js")
